{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="container">

{% if waiver_period == 2 %}
    {% if N %}
        <p>{{N}} bids are currently waiting to be processed.</p>
    {% else %}
        <div  id="clock"></div>
    {% endif%}
{% endif%}

{% if waiver_period == 1 %}
        <p>{{N}} bids have been registered.</p>
{% endif%}
</div>


<div class="container">
  <div class="row">
    <div class="col-sm-6">
        <h3>Last weeks trades</h3>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Team</th>
                <th>Amount</th>
                <th>Trade</th>
              </tr>
            </thead>
            <tbody>
            {% for t in trades %}
                <tr>
                    <td> {{ t.team.name  }} </td>
                    <td> {{ t.amount  }}$ </td>
                    <td> {{ t.player.name  }} for {{ t.drop.name  }} </td>
                </tr>
            {% endfor %}
            </tbody>
          </table>
    </div> 
    <div class="col-sm-6">
        <h3>Team Accounts</h3>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Team</th>
                <th>Funds</th>
              </tr>
            </thead>
            <tbody>
            {% for tm in teams %}
                <tr>
                    <td> <a href="/team/{{tm.nfl_id}}"> {{ tm  }} </a> </td>
                    <td> {{ tm.account  }} $ </td>
                </tr>
            {% endfor %}
            </tbody>
          </table>
    </div> 
  </div> 

<script type="text/javascript">
  // Turn on Bootstrap
  function get_auction_start() {
     return new Date( new Date().valueOf() +  {{ ms_left }} );
  }

  var $clock = $('#clock');

  $clock.countdown(get_auction_start(),  
        function(event) 
        {
            if (event.elapsed) 
                {location.reload()}
            else
                {
                    if (event.offset.totalDays) 
                        {
                            $(this).html(event.strftime('Auction opens in %-D days %H:%M:%S'))
                        }                
                    else
                        {
                            $(this).html(event.strftime('Auction opens in %H:%M:%S'))
                        }                
                }                
            
        }
    );



</script>


</div> 

{% endblock %}