{% extends "base.html" %}
{% block title %}Setting New password{% endblock %}

{% block content %}

<div id="content-main" class="container">

    <form action="" method="post">{% csrf_token %}
        <div class="container">
            {% if form.errors %}
                <p class="errornote">
                    Please correct the error or errors below.
                </p>
            {% endif %}

            <h1>Password change</h1>

            <fieldset class="module aligned wide">
                <div class="row">
                    {{ form.old_password.errors }}
                    <div class="col-sm-3">
                        <label for="id_old_password" class="required control-label pull-right">Old password:</label>
                    </div>
                    <div class="col-sm-3">
                        {{ form.old_password }}
                    </div>
                </div>

                <div class="row">
                    {{ form.new_password1.errors }}
                    <div class="col-sm-3">
                        <label for="id_new_password1" class="required control-label pull-right">New password:</label>
                    </div>
                    <div class="col-sm-3">
                        {{ form.new_password1 }}
                    </div>
                </div>

                <div class="row">
                    {{ form.new_password2.errors }}
                    <div class="col-sm-3">
                        <label for="id_new_password2" class="required control-label pull-right">Password (again):</label>
                    </div>
                    <div class="col-sm-2">
                        {{ form.new_password2 }}
                    </div>
                </div>

            </fieldset>

            <div class="submit-row">
                    <div class="col-sm-3 col-sm-offset-3">
                        <input type="submit" value="Change My Password" class="default" />
                    </div>
            </div>

            <script type="text/javascript">document.getElementById("id_old_password").focus();</script>
        </div>
    </form>
</div>

{% endblock %}