{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<h1>1. waiver periode:</h1>
<ul>
    <li> Torsdag nat-onsdag kl. 14
    <li> Bud på mindst 0 dollars.
    <li> Alle bud inden onsdag kl. 14 er gældende.
    <li> Ved to ens bud afgøres det af resterende penge eller placering i tabellen.
    <li> Al aktivitet på hjemmesidens waiver-marked straffes med 5 dollars i bøde per aktivitet og er ikke gældende.
</ul>

<h1>2. waiver periode:</h1>
<ul>
    <li> Fra mail modtages fra denne adresse med: Waiveren er åben til kickoff i Thursday Night Football.
    <li> Normale waiver regler gælder
</ul>

Stay safe.<br>
-The Commish

{% endblock %}