{% extends "base.html" %}

{% block content %}

  {% if form.errors %}
    <p class="error">Fumble!</p>
  {% endif %}

  <form action="" method="post">{% csrf_token %}
    <label for="player">Player name:</label>
    <input type="text" name="playername" value="" id="playername">
    <input type="submit" value="Search" />
    <input type="submit" value="Search_NFL" name="Search_NFL"/>
  </form>

{% for p in matches %}
    <li> <a href={% url 'bid' p.nfl_id %}> {{ p.name  }} </a> </li>
{% endfor %}



{% endblock %}