{% extends "base.html" %}

{% block content %}

<div class="container">

  {% if form.errors %}
    <p class="error">Fumble!</p>
  {% endif %}

  <form action="" method="post">{% csrf_token %}
    <label for="player">Player name:</label>
    <input type="search" name="playername" value="" id="playername">
    <input type="submit" value="Search" />
    <input type="submit" value="Search_NFL" name="Search_NFL"/>
  </form>
</div>

<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Player</th>
        <th>DFL Team</th>
      </tr>
    </thead>
    <tbody>
    {% for p in matches %}
        {% if p.dflteam %}
          <tr>
            <th>{{ p.pos_and_name  }}  {{ p.nflteam  }}</th>
            <th>{{ p.dflteam.name  }}</th>
          </tr>
        {% else %}
          <tr>
            <th><a href={% url 'bid' p.nfl_id %}> {{ p.pos_and_name  }}  {{ p.nflteam  }} </a></th>
            <th></th>
          </tr>
        {% endif %}
    {% endfor %}
    </tbody>
  </table>
</div> 



{% endblock %}