{% extends "base.html" %}
{% load static %}

{% block content %}

{{ editdata }}
<div class="container">
    <div class="row">
        <div class="col-sm-10"> 
            {{team.name}} (last logged in {{team.owner.last_login | date:"D j M H:i" }})
        </div>
        <div class="col-sm-2">
            {% if team.avatar %}
                <img src= "{% static team.owner.username %}.jpg" >
            {% endif %} 
        </div>
    </div>
    <div class="row">
            <div class="col-sm-3">{{team.account}}$</div>
            {% if is_user_home%}
                <div class="col-sm-3"> <a href="/password"> Change Password </a> </div>
            {% endif %}
    </div>
</div>
{% if bids %}
<div class="container">
  <h3>Bids</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th style="text-align:right">Time</th>
        <th>Name</th>
        <th style="text-align:center">Amount</th>
        <th style="text-align:center">Priority</th>
        <th>Drop</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for b in bids %}
      <tr>
        <td style="text-align:right">{{ b.date  | date:"D j M H:i" }}</td>
        <td>{{ b.player.name  }} </td>
        <td style="text-align:center">{{ b.amount  }}$</td>
        <td style="text-align:center">{{ b.priority  }}</td>
        <td> {{ b.drop.name  }}</td>
        <td> <button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit{{forloop.counter}}"> 
                    <span class="glyphicon glyphicon-pencil"></span>
             </button>
        </td>
        <td> <a class="btn btn-danger btn-xs" href="/biddelete/{{b.pk}}"> 
                    <span class="glyphicon glyphicon-trash"></span>
             </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div> 
{% endif %}


<div class="container">
  <h3>Roster</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Player</th>
      </tr>
    </thead>
    <tbody>
      {% for p in roster %}
        <tr>  
            <td> {{ p.name }} </td> 
        </tr>  
      {% endfor %}
    </tbody>
  </table>
</div> 






{% for b in bids %}
<div class="modal fade" id="edit{{forloop.counter}}" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </button>
        <h4 class="modal-title custom_align" id="Heading">{{ b.player.name }}</h4>
      </div>

   <form action="" method="post" id="edit{{forloop.counter}}">{% csrf_token %}
      <div class="modal-body">
          <div class="form-group">
            <label for="amount">Amount</label>
            <input class="form-control " type="number" name="amount" id="amount" min="0" max="{{b.team.account}}" step="1" placeholder="{{b.amount}}" value="{{b.amount}}">
            <label for="priority">Priority</label>
            <input class="form-control " type="number" name="priority" id="priority" min="1" max="10" step="1" placeholder="{{b.priority}}" value="{{b.priority}}">
          </div>
          <div class="form-group">
            <label for="drop">Drop</label>
            <select name="drop" id="drop" placeholder="{{b.player.name}} value="{{ b.player.pk }}">
                {% for p in roster %}
                        <option value="{{ p.pk }}"> {{ p.name }} </option>
                {% endfor %}
            </select>
         </div>
          <input type="hidden" name="bid_id" value="{{b.pk}}"></input>
      </div>

      <div class="modal-footer ">
          <input type="submit"  class="btn btn-warning btn-lg" style="width: 100%;" class="glyphicon glyphicon-ok-sign" value="Submit">
      </div>

       </form>


    </div>
  </div>
</div>
    

{% endfor %}

{% endblock %}