{% extends "base.html" %}
{% load static %}

{% block content %}


<div class="container">
    <div class="row">
        <div class="col-sm-6"> 
            {{team.name}} (last logged in {{team.owner.last_login | date:"D j M H:i" }})
        </div>
        <div class="col-sm-6">  
            {% if team.avatar %}
                <img src= "{{ team.avatar.url }}" >
            {% endif %} 
        </div>
    </div>
    <div class="row">
            <div class="col-sm-3">{{team.account}}$</div>
            {% if is_user_home%}
                <div class="col-sm-3"> <a href="/password"> Change Password </a> </div>
            {% endif %}
    </div>
</div>
{% if bids %}
<div class="container">
  <h3>Bids</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th style="text-align:right">Time</th>
        <th>Name</th>
        <th style="text-align:center">Amount</th>
        <th style="text-align:center">Priority</th>
        <th>Drop</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for b in bids %}
      <tr>
        <td style="text-align:right">{{ b.date  | date:"D j M H:i" }}</td>
        <td>{{ b.player.name  }} </td>
        <td style="text-align:center">{{ b.amount  }}$</td>
        <td style="text-align:center">{{ b.priority  }}</td>
        <td> {{ b.drop.name  }}</td>
        <td> <a href={% url 'delete_bid' b.pk %}>X</a> </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div> 
{% endif %}


<div class="container">
  <h3>Roster</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Player</th>
      </tr>
    </thead>
    <tbody>
      {% for p in roster %}
        <tr>  
            <td> {{ p.name }} </td> 
        </tr>  
      {% endfor %}
    </tbody>
  </table>
</div> 


{% endblock %}