{% extends "base.html" %}

{% block content %}


<div class="container">
    <div class="row">
        <div class="col-sm-6"> {{team.name}} (last logged in {{user.last_login}})</div>
    </div>
    <div class="row">
            <div class="col-sm-3">{{team.account}}$</div>
            {% if is_user_home%}
                <div class="col-sm-3"> <a href="/password"> Change Password </a> </div>
            {% endif %}
    </div>
</div>
{% if bids %}
<div class="container">
  <h3>Bids</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Time</th>
        <th>Name</th>
        <th>Amount</th>
        <th>Drop</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for b in bids %}
      <tr>
        <th>{{ b.date }}</th>
        <th>{{ b.player.name  }} </th>
        <th>{{ b.amount  }}</th>
        <th> {{ b.drop.name  }}</th>
        <th> <a href={% url 'delete_bid' b.pk %}>X</a> </th>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div> 
{% endif %}


<div class="container">
  <h3>Roster</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Player</th>
      </tr>
    </thead>
    <tbody>
      {% for p in roster %}
        <tr>  
            <td> {{ p.name }} </td> 
        </tr>  
      {% endfor %}
    </tbody>
  </table>
</div> 


{% endblock %}